{{ header }}
<<<<<<< HEAD
<div  id="common-home"  class="container">
=======
<div id="common-home" style="margin: 90px;" class="container">
>>>>>>> 790b49e13c12789410af78d35dc87d3d392cacc9
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}